#modal-add{
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}
#modal-add .modal-content{
	padding: 0;
}

#tabs-swipe-demo li a{
	color: #039be5;
}

.my-close-modal-footer{
	position: relative;
}

.bold{
	font-weight: bold;
}