.eventslist{
   overflow-y: auto;
   overflow-x: hidden;
   width: 100%;
   height: 90vh;
   margin-top: 56px;
}

.eventslist h1{
	display: flex;
   justify-content: center;
   align-items: center;
	color: white;
	background-color: rgba(0,0,0,0.5);
}

.event-item{
	 display: flex;
    flex-direction: column;
    //flex-basis: 50%;
    //height: 300px;
    //min-height: 300px;
    //max-height: 300px;
    margin: 10px;
}

.event_image{
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(0,0,0,0.9);
   border-radius: 10px;
   overflow-x: auto;
   /*
	height: 200px;
   min-height: 200px;
   max-height: 200px;
	background-image: url("");
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   border-radius: 10px;
   */
}
.event_info{
	//display: flex;
	//flex-direction: row;
   //height: 100px;
   //min-height: 100px;
   //max-height: 100px;
    border-radius: 10px;
    border: 1px dashed white;
}
.event_info i{
	color: white;
	margin-right: 10px;
}

.eventslist .event_info .collapsible i{
	color: #26a69a;
}

.my-left{
    float: left !important;
    position: absolute !important;
    left: 0;
    top: 5px;
}

.eName{
	 color: white;
    font-size: 1.5em;
    display: block;
}
.eDescription{}
.eDescription p{
	text-align: left;
}
.eDescription p img{
	width: 100%;
	height: 100%;
}
.eDate{}
.eCapacity{}
.eCategory{}
.eAddress{}
.eAge{}
.ePrice{}
.ePhone{}
.eWeb,
.eEmail{
	color: white;
}
.eVisibility{}

.mupName{
	color: white;
   font-size: 1.5em;
   display: block;
}
.mupGroupname{
	color: white;
   font-size: 1.1em;
   display: block;
}
.mupDescription p img{
	width: 100%;
	height: 100%;
}
.mupDescription{}
.mupCountry{}
.mupCountryname{}
.mupCity{}
.mupPrice{}
.mupAccepts{}
.mupDescriptionfee{}
.mupCurreny{}
.mupAddress{}
.mupUrl{
	color: white;
}
.mupImagesrc{}
.mupVisibility{}

.aligned{
	display: flex;
}
.flex-basis-50{
	flex-basis: 50%
}

.my-image-style-eventslist{
   height: 200px;
/*	border-radius: 100px;*/
}

.material-placeholder{
	height: 100%;
}

.hidden{
	display: none;
}

.no-image{
	    background: rgba(0,0,0,0.9);
    border-radius: 10px;
}
.no-image h6{
	    color: white;
}

.my-eventlist-padding{
	
}

.my-age-icon{
	    position: relative;
    padding-left: 4px;
    padding-right: 3px;
}

.