.price-label,
.capacity-label{
	position: absolute !important;
	top: -10px !important;
}

.field-bordered{
	border: 1px dashed #26A69A;
	border-radius: 10px;
}

form input{
	color: black;
	text-align: center;
}

.text-a-left{
	text-align: left;
}

.select-wrapper input.select-dropdown{
	text-align: left !important;
}

.my-color-red{
	color: #d50000 !important;
}

.my-color-grey{
	color: #9e9e9e !important;
}

.my-dates-inputs{
    position: relative !important;
    top: -90px !important;
}

