#nav-mobile.side-nav .background{
	background-color: #26A69A !important;
}

#nav-mobile.side-nav .background img{
	background-size: cover;
	width: 100%;
   height: 100%;
}

.my-rgba-bg{
	background: rgba(0,0,0,0.4);
	padding-top: 15px;
}

.extra-z-index{

}
