<!--

<input id="pac-input_proves" class="controls" type="text" placeholder="Search Box">
<div id="map-new-event_proves"></div>

-->
<div class="my-overflow-y">

<div class="row">
<div class="col s12">
<div class="card-panel teal lighten-2">
	<h6>{{{name}}} event created!</h6>
</div>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col s12">
<div class="proves-new-event" style="background: white;">
	<div>Name: {{{name}}}</div>
	<div>description: {{{description}}}</div>
	<div>startdate: {{{startdate}}}</div>
	<div>enddate: {{{enddate}}}</div>
	<div>capacity: {{{capacity}}}</div>
	<div>category: {{{category}}}</div>
	<div>address: {{{address}}}</div>
	<div>age: {{{age}}}</div>	
	<div>lat: {{{lat}}}</div>
	<div>lng: {{{lng}}}</div>
	<div>
		<img src="{{{image_path}}}" style="width: 100px; height: 100px;"/>
	</div>
	<div>price: {{{price}}}</div>
	<div>phone: {{{phone}}}</div>
	<div>web: {{{web}}}</div>
	<div>email: {{{email}}}</div>
	<div>visibility: {{{visibility}}}</div>
</div>
</div> <!-- col -->
</div> <!-- row -->

<div class="row">
<div class="col s12">
	<a href="/" class="waves-effect waves-light btn" tabindex="1">Return</a>
</div> <!-- col -->
</div> <!-- row -->

</div> <!-- container -->