<div class="overlay-mask">	</div>
<div class="container">
	<div class="row">
		<div class="login-form offset-s0 col s12">
		
			<h3>Enjoy Your Leisure</h3>
			<h8>{{{error}}}</h8>
			
			<form id="login-form" action="/login" method="POST">
			
				<!-- USERNAME -->
				<div class="input-field col s12">
					<i id="icon_username" class="material-icons prefix">account_circle</i>
					<input id="input_username" type="text" name="username" class="validate" tabindex="1" required>
					<label id="label_username" for="input_username">Nickname</label>
				</div>
				
				<!-- PASSWORD -->
				<div class="input-field col s12">
					<i class="material-icons prefix">vpn_key</i>
					<input id="icon_telephone" name="password" type="password" class="validate" tabindex="2" required>
					<label for="icon_telephone">Password</label>
				</div>
				
				<div class="row">
					<div class="col s12"> <hr> </div>
				
					<div class="col s12">
						<a id="submit-session" class="btn waves-effect waves-light" name="action" tabindex="3">Session</a>
					</div>
					
					<div class="offset-s3 col s6">
						<span class="orSpanLoginText">or</span>
					</div>
					
					<div class="col s12">
						<a href="/createaccount" class="waves-effect waves-light btn" tabindex="4">Create</a>
					</div>

				</div>
				
			</form>
		</div>
	</div>
</div>