<!-- <div class="overlay-mask">	</div> -->
<nav class="teal lighten-1" role="navigation">
	<div class="nav-wrapper container">
	
		<!-- Menu -->
		<a href="#" data-activates="nav-mobile" class="button-collapse">
      	<i class="material-icons" >menu</i>
      	<!-- Si es treu l'onclick, (els items-menu no tenen efecte onada) i es veu la foto de l'usuari ampliada correctament
      	<i class="material-icons" onclick="Materialize.showStaggeredList('#nav-mobile')">menu</i>
			-->
      </a>
	
		<!-- Logo -->
		<a id="logo-container" href="/" class="brand-logo">
			<img src="mush_50x50.png" class="my-logo"></img>
		</a>
		
		<!-- Logout -->
     	<ul class="right">
     	  	<li>
     	  		<a href="/logout">
     	  			<i class="material-icons">power_settings_new</i>
     	  		</a>     	  		
     	  	</li>
     	</ul>
      
  	</div>
</nav>

<ul id="nav-mobile" class="side-nav">

  	<li class="toChangeTransform">
  		<div class="userView">
  			<div class="background">
 				<img src="images/user_images/{{{userimagebg}}}" class="materialboxed">
  			</div>
 			<a>
 				<img id="userimage" class="circle extra-z-index materialboxed" src="images/user_images/{{{userimage}}}"></img>
 			</a>
 			<a><span class="white-text name my-rgba-bg">{{{username}}}</span></a>
  			<a><span class="white-text email my-rgba-bg">{{{useremail}}}</span></a>
			</div>
	</li>
	
	<li><a href="/myevents" class="waves-effect"><i class="material-icons my-size-icons">perm_contact_calendar</i>My events</a></li>
	
	<li><a href="/mymeetups" class="waves-effect">
		<i class="fa fa-cloud-download my-size-icons" aria-hidden="true"></i>
		My imported meetups</a>
	</li>	
	
	<li><a href="/map" class="waves-effect">
		<i class="material-icons my-size-icons">&#xE55B;</i>
		Mushes on Map</a>
	</li>
	
	<li><div class="divider"></div></li>
	
	<li><a class="subheader">Subheader</a></li>
	
	<!-- Change user image trigger -->
	<li><a class="waves-effect" href="#change-user-image-modal">
		<i class="material-icons my-size-icons">&#xE853;</i>Change user image</a>
	</li>
	
	<li><a class="waves-effect" href="#change-user-bg-image-modal">
		<i class="material-icons my-size-icons">&#xE40B;</i>Change background image</li></a>
	
	<li><a class="waves-effect">Third Link With Waves</a></li>
	
</ul>

<div id="map-viewer" class="map-viewer"></div>
