html,body{
	background:#lightgrey;
}
*{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select-language{
    display: block;
    position: fixed!important;
    bottom: 0;
    width: 100px !important;
    height: 35px !important;
    margin: 0;
    right: 0;
    width: 100px;
    z-index: 2;
    background-color: white;
    border: 3px solid #bfa67a;
}

.canSelectText>*{
	-webkit-touch-callout: auto;
    -webkit-user-select: auto;
    -khtml-user-select: auto;
    -moz-user-select: text;
    -ms-user-select: auto;
    user-select: text;
}

#back-to-top{
	right: 30px !important;
    bottom: 50px !important;
}

.iframe-tickets{
    width: 100%;
    height: 100%;
    border: 0;
    max-width: 100%;
    padding: 0 20px;
}
.tickets{
	width: 775px;
    height: 85%;
    min-height: 85%;
    max-height: 85%;
}
.tickets > .row{
	height: 90% !important;
}
.secure{
	width: 100%;
	display: -moz-box;
	display: -webkit-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	justify-content: center;
	padding: 20px;
	text-align: center;
	background: rgba(0,0,0,0.9);
	border: 10px solid #93db08;
	border-radius: 60px;
}

.secure h3{
	margin: 10px !important;
}

.my-video{
  position: absolute;
  //width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100;
}
#box    {
  width:100%;
  height:280px;
  box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  -webkit-box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  -moz-box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  background-size:cover;
  border-radius:5px;
  overflow:hidden;
}

#overlay {
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:70px 0 150px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#box:hover #overlay{opacity:1;}
#artists a{
  cursor: pointer;
  border: 3px solid #bfa67a;
  padding: 10px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.center-bg{
  background-repeat: no-repeat;
  background-position: center;
}

.art-info h6{
  font-family:Helvetica;
  color:white;
  font-size: 3rem;
  font-family: "Pt Serif", serif;
}

/* Artists box-section & each parallax BGImage */
#box.first-art-bgImg{
  background-image:url('../img/artists/bgd_duo/bgd_duo_box_exported_tiny.png');
}
#art1 .parallax{
  background-image:url('../img/artists/bgd_duo/bgd_duo_parallax_exported_tiny.jpg');
}

#box.second-art-bgImg{
  background-image:url('../img/artists/alen/alen_box_exported_tiny.png');
}
#art2 .parallax{
  background-image:url('../img/artists/alen/alen_parallax_exported_tiny.png');
}

#box.third-art-bgImg{
  background-image:url('../img/artists/robert/robert_majure_box_exported_tiny.png');
}
#art3 .parallax{
  background-image:url('../img/artists/robert/robert_majure_parallax_exported_tiny.png');
}

#box.fourth-art-bgImg{
  background-image:url('../img/artists/joan/joan_box_exported_tiny.png');
}
#art4 .parallax{
  background-image:url('../img/artists/joan/joan_parallax_exported_tiny.png');
}

.parallax {
    height:500px;
    max-height: 500px;
    text-align: center;
    padding: 20px 50px 40px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-ms-background-size: cover;
  	background-size: cover;
    box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
    -webkit-box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
    -moz-box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
}

.mobile-fixed-parallax-effect{
  background-attachment: scroll !important;
}

.parallax-links{
  position:absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

.artists-info{
  text-align: justify;
  font-size: 30px;
  font-style: italic;
}

.small-parallax-art-text-sizing{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}

.padding-bottom{
  padding-bottom: 50px;
}

.extra-padding-boxes{
  padding: 10px;
}

.small-artists-text{
  font-size: 24px;
  line-height: 39px;
  color: #fff;
  font-style: italic;
  font-family: "Pt Serif", serif;
}
.small-artists-text span{
  cursor: pointer;
  border: 1px solid #bfa67a;
  padding: 0px 10px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.inset-overlay-discography{
    text-align:center;
    opacity:1;
    -webkit-transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.inset-overlay-discography img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border:5px double #A38E68;
    background-color: white;
    cursor: pointer;
}

.inset-overlay-discography img:hover{
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.artists-info h1{
  font-family:"Montserrat", sans-serif;
  color:#a6a6a6;
}
.artists-info span,
.small-parallax-art-text-sizing span{
  text-align:justify;
  color:#a6a6a6;
}

/* GENERIC MODAL FOR BIO-DISCO-PHOTO */
.my-modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    overflow: hidden;
}

.my-modal.active{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-animation-name: animateModalBG;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateModalBG;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: ease;
  animation-name: animateModalBG;
  animation-duration: 500ms;
  animation-timing-function: ease;
  overflow-x: hidden;
    z-index: 9999;
}
.my-modal.closing{
  -webkit-animation-name: animateZoomOut;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: animateZoomOut;
  -moz-animation-duration: 0.5s;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  animation-name: animateZoomOut;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.confirm-mail-msg{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-size: 2em;
  text-align: center;
  overflow-x: hidden;
  -webkit-animation-name: animateZoom;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoom;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  animation-name: animateZoom;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.confirm-text{
  text-shadow: 2px 2px #bfa67a !important;
}

.ok-email-icon,
.error-email-icon{
  display: none;
}

.ok-email-icon,
.error-email-icon{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #bfa67a;
}

.ok-email-icon::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 10px;
  background-color: white;
  left: 24px;
  top: 49px;
  transform: rotate(45deg);
  border-radius: 5px;
}
.ok-email-icon::before{
  content: "";
  position: absolute;
  width: 45px;
  height: 10px;
  background-color: white;
  left: 37px;
  top: 43px;
  transform: rotate(-45deg);
  border-radius: 5px;
}
.error-email-icon:before, .error-email-icon:after{
    content: '';
    position: absolute;
    width: 50px;
    height: 10px;
    background-color: white;
    top: 45px;
    left: 25px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.error-email-icon:after{
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}



.bio-modal-content h2,
.disco-modal-content h2{
  padding-top: 10px;
  font-family: "Pt Serif", serif;
}
.bio-modal-content {
  position: block;
  background-color: #fefefe;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: justify;
  overflow-x: hidden;
  -webkit-animation-name: animateZoom;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoom;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  animation-name: animateZoom;
  animation-duration: 1s;
  animation-timing-function: ease;
}

.startShadow{
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  -webkit-box-shadow: 0px 50px 50px -50px #c5c5c5 inset;
  -moz-box-shadow: 0px 50px 50px -50px #c5c5c5 inset;
  box-shadow: 0px 50px 50px -50px #c5c5c5 inset;
  height:50px;
  overflow: hidden;
}
.endShadow{
  position: absolute;
  left: 0;
  width: 100%;
  content: "";
  -webkit-box-shadow: 0px -50px 50px -50px #c5c5c5 inset;
  -moz-box-shadow: 0px -50px 50px -50px #c5c5c5 inset;
  box-shadow: 0px -50px 50px -50px #c5c5c5 inset;
  height:50px;
  overflow: hidden;
}

.disco-modal-content{
  position: relative;
  width: 50%;
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: justify;
  text-align: center;
  -webkit-animation-name: animateZoom;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoom;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  animation-name: animateZoom;
  animation-duration: 1s;
  animation-timing-function: ease;
}
.disco-modal-content p{
  font-size: 1.5rem;
}

.my-modal .left-arrow{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0,0,0,.4);
  border-radius: 30px;
  width: 20px;
  padding: 30px 30px;
  margin-right: auto;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.my-modal .right-arrow{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: rgba(0,0,0,.4);
  border-radius: 30px;
  width: 20px;
  padding: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 3;
}

.my-modal .left-arrow img,
.my-modal .right-arrow img{
  border-radius: 5px;
  min-width: 15px;
}

.close {
  position:relative;
  right:15px;
  top: 7px;
  font-size:33px;
  font-weight:bold;
}

.close:hover,
.close:focus {
  text-decoration:none;
  cursor:pointer;
}

.modal-header {
  padding:2px 0px 2px 0px !important;
  text-align:center;
}

.modal-body {
  height: 300px;
  padding: 0px 16px 0px 16px;
  width: 100%;
  overflow-x: hidden;
}

.modal-footer {
  padding:2px 16px;
  text-align:center;
}

/* animateZoom */
@keyframes animateZoom {
    from {opacity: 0;
      transform: scale(0.1);}
    to {opacity: 1;
      transform: scale(1);}
}
@-moz-keyframes animateZoom {
    from {opacity: 0;
      transform: scale(0.1);}
    to {opacity: 1;
      transform: scale(1);}
}
@-webkit-keyframes animateZoom {
    from {opacity: 0;
      transform: scale(0.1);}
    to {opacity: 1;
      transform: scale(1);}
}
/* end of animateZoom */

/* animateZoomGalleryRightToLeft */
@keyframes animateZoomGalleryRightToLeft {
  from {-webkit-transform: translateX(-150%);
				-moz-transform: translateX(-150%);
				transform: translateX(-150%);}
	to {-webkit-transform: translateX(0);
  		-moz-transform: translateX(0);
  		transform: translateX(0);}
}
@-moz-keyframes animateZoomGalleryRightToLeft {
  from {-webkit-transform: translateX(-150%);
  			-moz-transform: translateX(-150%);
  			transform: translateX(-150%);}
  to {-webkit-transform: translateX(0);
  		-moz-transform: translateX(0);
  		transform: translateX(0);}
}
@-webkit-keyframes animateZoomGalleryRightToLeft {
  from {-webkit-transform: translateX(-150%);
  			-moz-transform: translateX(-150%);
  			transform: translateX(-150%);}
  to {-webkit-transform: translateX(0);
  		-moz-transform: translateX(0);
  		transform: translateX(0);}
}
/* end of animateZoomGalleryLeftToRight */

/* animateZoomGalleryRightToLeft-Clone */
@keyframes animateZoomGalleryRightToLeft-Clone {
  to {-webkit-transform: translateX(-150%);
  		-moz-transform: translateX(-150%);
  		transform: translateX(-150%);}
  from {-webkit-transform: translateX(0);
  			-moz-transform: translateX(0);
  			transform: translateX(0);}
}
@-moz-keyframes animateZoomGalleryRightToLeft-Clone {
  to {-webkit-transform: translateX(-150%);
  		-moz-transform: translateX(-150%);
  		transform: translateX(-150%);}
  from {-webkit-transform: translateX(0);
  			-moz-transform: translateX(0);
  			transform: translateX(0);}
}
@-webkit-keyframes animateZoomGalleryRightToLeft-Clone {
  to {-webkit-transform: translateX(-150%);
  		-moz-transform: translateX(-150%);
  		transform: translateX(-150%);}
  from {-webkit-transform: translateX(0);
  			-moz-transform: translateX(0);
  			transform: translateX(0);}
}
/* end of animateZoomGalleryLeftToRight-Clone */

/* animateZoomGalleryLeftToRight */
@keyframes animateZoomGalleryLeftToRight {
  from {-webkit-transform: translateX(150%);
				-moz-transform: translateX(150%);
				transform: translateX(150%);}
  to {-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			transform: translateX(0);}
}
@-moz-keyframes animateZoomGalleryLeftToRight {
  from {-webkit-transform: translateX(150%);
				-moz-transform: translateX(150%);
				transform: translateX(150%);}
  to {-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			transform: translateX(0);}
}
@-webkit-keyframes animateZoomGalleryLeftToRight {
  from {-webkit-transform: translateX(150%);
				-moztransform: translateX(150%);
				transform: translateX(150%);}
  to {-webkit-transform: translateX(0);
			-moz-transform: translateX(0);
			transform: translateX(0);}
}
/* end of animateZoomGalleryLeftToRight */

/* animateZoomGalleryLeftToRight-Clone */
@keyframes animateZoomGalleryLeftToRight-Clone {
  to {-webkit-transform: translateX(-150%);
			-moz-transform: translateX(-150%);
			transform: translateX(-150%);}
  from {-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				transform: translateX(0);}
}
@-moz-keyframes animateZoomGalleryLeftToRight-Clone {
  to {-webkit-transform: translateX(-150%);
			-moz-transform: translateX(-150%);
			transform: translateX(-150%);}
  from {-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				transform: translateX(0);}
}
@-webkit-keyframes animateZoomGalleryLeftToRight-Clone {
  to {-webkit-transform: translateX(-150%);
			-moz-transform: translateX(-150%);
			transform: translateX(-150%);}
  from {-webkit-transform: translateX(0);
				-moz-transform: translateX(0);
				transform: translateX(0);}
}
/* end of animateZoomGalleryLeftToRight-Clone */

/* animateZoomOut */
@keyframes animateZoomOut {
  from {opacity: 1;
    		-webkit-transform: scale(1);
				-moz-transform: scale(1);
				transform: scale(1);}
  to {opacity: 0;
    	-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			transform: scale(1.1);}
}
@-moz-keyframes animateZoomOut {
  from {opacity: 1;
    		-webkit-transform: scale(1);
				-moz-transform: scale(1);
				transform: scale(1);}
  to {opacity: 0;
    	-webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			transform: scale(1.1);}
}
@-webkit-keyframes animateZoomOut {
  from {opacity: 1;
      	-webkit-transform: scale(1);
				-moz-transform: scale(1);
				transform: scale(1);}
  to {opacity: 0;
      -webkit-transform: scale(1.1);
			-moz-transform: scale(1.1);
			transform: scale(1.1);}
}
/* end of animateZoomOut */

/* animateModalBG */
@keyframes animateModalBG {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-moz-keyframes animateModalBG {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes animateModalBG {
  from {opacity: 0;}
  to {opacity: 1;}
}
/* ens of animateModalBG */

.contentCarousel{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 75%;
  width: 90%;
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: animateZoom;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoom;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease;
  animation-name: animateZoom;
  animation-duration: 1s;
  animation-timing-function: ease;
  position: relative;
}
.contentImgCarousel{
  display: -moz-box;
  display: -webkit-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 10px;
}
.contentImgCarousel.nextImgEffect{
  -webkit-animation-name: animateZoomGalleryLeftToRight;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoomGalleryLeftToRight;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: ease;
  animation-name: animateZoomGalleryLeftToRight;
  animation-duration: 500ms;
  animation-timing-function: ease;
}
.contentImgCarousel.nextImgEffectClone{
  -webkit-animation-name: animateZoomGalleryLeftToRight-Clone;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoomGalleryLeftToRight-Clone;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: ease;
  animation-name: animateZoomGalleryLeftToRight-Clone;
  animation-duration: 500ms;
  animation-timing-function: ease;
}
.contentImgCarousel.prevImgEffect{
  -webkit-animation-name: animateZoomGalleryRightToLeft;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoomGalleryRightToLeft;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: ease;
  animation-name: animateZoomGalleryRightToLeft;
  animation-duration: 500ms;
  animation-timing-function: ease;
}
.contentImgCarousel.prevImgEffectClone{
  -webkit-animation-name: animateZoomGalleryRightToLeft-Clone;
  -webkit-animation-duration: 500ms;
  -webkit-animation-timing-function: ease;
  -moz-animation-name: animateZoomGalleryRightToLeft-Clone;
  -moz-animation-duration: 500ms;
  -moz-animation-timing-function: ease;
  animation-name: animateZoomGalleryRightToLeft-Clone;
  animation-duration: 500ms;
  animation-timing-function: ease;
}

/* Mobile & portrait */
@media screen and (max-width: 768px) and (orientation: portrait){
  .disco-modal-content{
    position: relative;
    width: 90%;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: justify;
    text-align: center;
    -webkit-animation-name: animateZoom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: animateZoom;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    animation-name: animateZoom;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  .contentCarousel{
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 30%;
    width: 90%;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: animateZoom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: animateZoom;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    animation-name: animateZoom;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
}

/* Mobile & landscape */
@media screen and (max-width: 768px) and (orientation: landscape){
  .bio-modal-content {
    position: block;
    background-color: #fefefe;
    width: 90%;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: justify;
  }
  .modal-body {
    max-height: 100px;
    width: 100%;
    padding: 2px 16px;
    overflow-x: auto;
  }
  .disco-modal-content{
    position: relative;
    width: 90%;
    background-color: #fefefe;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    text-align: justify;
    text-align: center;
    -webkit-animation-name: animateZoom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: animateZoom;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    animation-name: animateZoom;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
  .contentCarousel{
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 75%;
    width: 90%;
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: animateZoom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: animateZoom;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    animation-name: animateZoom;
    animation-duration: 1s;
    animation-timing-function: ease;
  }
}
